.service-list {
    h2::after{
        content: "__________";
        position: relative;
        top: 20px;
        right: 90px;
        width: 80px;
        font-size: 5px;
        background-color: #f45733;
    }
}